</div>
</div>
<script src="static/assets/js/jquery.js"></script>
<script src="static/assets/js/jquery-ui.custom.min.js"></script>
<script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/bootstrap/js/tooltip.js"></script>
<script src="bower_components/bootstrap/js/popover.js"></script>
<script src="static/dist/summernote.min.js"></script>
<script src="static/js/searchBox.js"></script>
<!--<script src="static/js/common.js"></script>-->
<script src="static/js/swfobject.js"></script>
<!--<script src="static/assets/js/get-shit-done.js"></script>-->

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="static/js/footer.js"></script>
