<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<title>육군기록정보관리단</title>
<!--<base href="http://mil.k-history.kr">-->
<base href="http://mil.k-history.kr">
<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="http://jeju.k-history.kr/favicon.ico" type="image/x-icon"/>
<!--<link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>-->
<link rel="stylesheet" media="screen" href="static/css/font-awesome.min.css"/>
<link rel="stylesheet" media="screen" href="static/bootstrap3/css/bootstrap.min.css"/>

<link rel="stylesheet" href="static/assets/css/gsdk.css"/>
<link rel="stylesheet" href="static/assets/css/demo.css"/>
<link rel="stylesheet" media="screen" href="static/css/eventpool.css" />
<link rel="stylesheet" media="screen" href="static/css/jeju.css" />
<link rel="stylesheet" media="screen" href="static/css/custom.css" />
<link rel="stylesheet" media="screen" href="static/css/skin.css" />
<!--<link rel="stylesheet" media="screen" href="static/dist/summernote.css" />-->

<script src="static/js/commconst.js"></script>
