<html>
<head>
    <% include ../include/header.ejs %>
</head>
<body>
<% include ../include/nav.ejs %>
    <div class="container mar_bot_30 wide-t125">
    
        <div class="row text-center">

        </div>
        <div class="row intro pad20">

            <div class="col-md-8 col-md-offset-2">




                <h3>제주한라대학교에서 펼치는 세계최초 <br>Semantic Archiving </h3><br>
                                                <div class="image">
                    <img src="static/img/president.gif" style="width:150px;" title="nn"/>
                </div><br>
                
                <p><br>
<p>이번에 제주한라대학교에서 웹을 활용한 시맨틱 향토자료관을 이곳 온라인 공간에 열게 돼서 기쁘게 생각합니다. 
바로 이 제주 향토자료관이 여기 이 제주지방의 과거 현재 미래의 숨결을 모아가고 있습니다. 그 문화 속에서 제주 특유의 문화맵시를 뽐낼 것입니다. 
과거의 자료를 통해서 그 당시의 우리 조상들의 삶의 결을 느끼고, 지금 우리의 모습을 남겨 먼 훗날 우리 후손들에게 오늘날의 우리의 모습을 남겨줘서 
과거와 현재와 미래가 함께 호흡할 것입니다.
                </p>
            </div>
        </div>
        
        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">

                    <p>향토자료관 내에 있는 실물자료들과 여기저기 흩어져 있던 관련 기록물들을 한데 모아 ‘자료와의 대화’를 시작하게 합니다. 
그 대화는, 자연스럽게, 우리 제주 사회의 도시 개발 속도와 맞물려 숨 가쁘게달려온 지난 세월을 성찰하는 시공간을 열어 줄 뿐 만이나라 이것은 미래 세대를 위한 유산이 될 것입니다. 제주의 사람들이 집에서 들에서 산에서 바다에서 남기신 이야기와 그들이 활용했던 도구를 통해서 조상의 뿌리를 찾을 것이며 그들의 문화맵시를 간접적으로 보게 될 것입니다. 
<br><br>

제주도 향토자료를 통해서 여러분의 생각을 확장해 나가는 데 도움이 될 것입니다. 오래된 책 표지 하나를 보면서도 창의적인 생각이 떠오를 수도 있을 것입니다. 
이 온라인 공간에서의 시작은 미약하나 해마다 계속 업데이트 시켜나가면서 더 많은 것을 선보일 것입니다 
<br><br>
여러분들의 많은 이용과 성원을 바랍니다. <br><br>



총장 김성훈<br>
 </p>

                    
                </div>
            </div>
        </div>

        <!--  여기서 부터 한 세트로 사용하시면 됩니다 -->
        
   