<html>
<head>
    <% include ../include/header.ejs %>
</head>
<body>
<% include ../include/nav.ejs %>


        <!--  여기서 부터 한 세트로 사용하시면 됩니다 -->
        
        
        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <h4>*시맨틱 향토자료실을 열면서*</h4>
                
                                <div class="image">
                    <img src="static/img/sjkim.gif" style="width:150px;" title="nn"/>
                </div><br>
                
                <p>  *우선 인지혁명으로 인간의 사고 혁명까지 이끌어 내고 있는 제4차 산업혁명의 시대에 현재 향토자료실의, ‘실체’ 중심에서 ‘관계’ 중심으로, 생각의 틀을 바꾸려고 시도하게 돼서 기쁘게 생각합니다. 그동안 기록관, 자료관 등에서 Archiving만 열심히 해왔습니다. 이제는 실제 이용자들이 제주도의 향토자료를 '활용'할 수 있게 해야 합니다.  즉 보존도 중요하지만, 그 보존된 옛것을 새롭게 조직해서 <u>활용</u>하게 하면 <u>창의적인 아이디어</u>를 자아내게 하는 기능도 할 것입니다.    </p>

                    
                    <p> *현재 향토자료관에 있는 실물자료들과 여기저기 흩어져 있던 관련 기록물들을 시맨틱하게 한데 모아 ‘자료와의 대화’를 시작하게 합니다. 그 대화는, 자연스럽게, 우리 제주 사회의 도시 개발 속도와 맞물려 숨 가쁘게 달려온 지난 세월을 성찰하는 시공간을 열어 줄 뿐 많이 나라 이것은 미래 세대를 위한 유산이 될 것입니다. 관련된 향토자료명 그것과 관련된 인물, 장소, 기관 등을 다양한 각도에서 조명함으로써 제주도 향토자료의 본질을 볼 수 있게 해 줍니다. 지금까지는 그냥 단행본 위주의 정보검색이었습니다. 어느 정도 알고 있다면 키워드 입력어를 넣어서 찾아갈 수 있습니다. 그러나 이용자는 그렇게 똑똑하지 못한 편입니다. 이제는 그냥 클릭 한 두 번으로 때로는 기대하지 않았던 것까지도 다양한 설명을 담아서 이용자의 손에 안겨줍니다.    </p>
                   
                   
                                   <div class="image" align="center">
                    <img src="static/img/hyundai.png" width="60%" title="현재검색시스템"/>
                    <div class="text-center"></div><br><br>
                    

                   </div>
            </div>
        </div>
        
        
                <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
    
                <p>  *기존의 많은 데이터가 여기저기 흩어져 많이 있는 것은 사실이지만 의미상으로 전혀 연결이 안 되어 있습니다. 이에 제주 한라대 향토자료실을 중심으로 의미적으로 연결해나갑니다. 본 자료실에서는 시맨틱 메타데이터를 사용합니다. 지능을 가진 메타데이터가 활용된다는 것입니다. 그 구체적인 방법으로 먼저 전거통제를 하고 있습니다. 즉 사용된 어휘를 통제하고 있습니다. 표준어. 제주어 등 다 검색되게 만들어졌습니다. 가령 고렛방석을 표목으로 했을 때 가래덕석, 가렛독섯, 말멍석, 쳇덕석, 맷방석 등 약간씩 다르게 부르고 있는 것 어떤 것으로 입력해도 자동으로 검색이 됩니다. 즉사용 하는 이용자가 사용하고 있는 그대로의 자연어도 다 수용합니다.두 번째는, 그냥 키워드 검색이 아니라, 미리 사용자가 사용하기 쉬울 것 같은 검색 결과를 검색 사이트 측에서 미리 준비해두고 사용자가 그것을 선택하는 것만으로 콘텐츠를 좁혀 나갈 수 있게 했습니다. 이렇게 해서 주어 + 동사 형태의 검색이 가능하게 된 것입니다. 기존의 흔히 있는 패싯 네비게이션이 아니라 관계형 패싯 내비게이션을 적용했다는 것입니다.      </p>

                    
                    
                    <p> *이제 이 향토자료실이 시맨틱의 기술을 입고 출발합니다. 아무쪼록 이 공간을 통해서 이용자 여러분이 우리 제주인들의 삶의 경르 느끼시고 연구나 지적호기심 자극에 큰 도움이 되었으면 하는 바램입니다. 직접 여기 저기 클릭하면서 사용해 보시기 바랍니다. <br><br>

제주한라대학교<br>
도서관장<br>
김성진   </p>

                    					<div class="image" align="center">
                 
                    <div class="text-center"></div><br><br>
                   

                   </div>
            </div>
        </div>
        
        
        






          
                
                
                
      
            </div>
            <div class="col-md-3">
                <div class="right-content">
                    <div class="row">



                        <div class="col-md-2">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
</body>
<% include ../include/footer.ejs %>
</html>




