<html>
<head>
    <% include ../include/header.ejs %>
</head>
<body>
<% include ../include/nav.ejs %>


</div>
<div class="container mar_bot_30">
    <div class="row text-center">
    
    
        <h1></h1>
        <h2>4차산업혁명시대에 발맞추는 제주한라대학교</h2>
        <h4> 창의적인 학생을 배출합니다 </h4>
              
    </div>
    <div class="row intro">
        <div class="col-md-1"></div>
        <div class="col-md-7">


                <div class="image">
                    <img src="static/img/president.gif" style="width:100px;" title="nn"/>
                </div>

            <div>
            
            <br>
            <br>

1969년에 초급대학 과정 수업년한 3년제 제주간호학교로 설립인가 되었다.

                        <div class="col-md-2">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <br><br>
                        
개설학과
          
간호계열 : 간호학과 (2012년부터 4년제 승격)<br><br>

보건계열 : 응급구조과, 임상병리과, 방사선과, 물리치료과, 작업치료과, 병원경영과, 뷰티아트과<br><br>

관광학부(CHU - SSTH) : 호텔경영학과(4년제), 외식경영학과(4년제), 중국경제무역학과(4년제), 관광경영과, 관광영어과, 관광일본어역과, 관광중국어과, 관광러시아어과, 호텔조리과, 관광레져스포츠과<br><br>

사회복지계열 : 사회복지학과(4년제), 복지행정과, 사회복지과, 유아교육과<br><br>

정보기술/건축계열 : 디지털콘텐츠과, 정보통신과, 컴퓨터정보과, 건축디자인과, 방송영상학과(4년제)<br><br>

예술계열 : 음악과, 산업디자인과(4년제), 국제태권도과<br><br>

마사학부: 마사학과(4년제), 마축자원학과(4년제)

                        <div class="col-md-2">
                            <i class="fa fa-clock-o"></i>
                        </div>

부속·부설 기관으로 도서관, 정보전산센터, 한라아트홀, 한라학사(기숙사), 평생교육원, 언어교육센터, 국제교류센터, 종합인력개발센터, 창업보육센터,한라·뉴캐슬 PBL교육연구원, 한라·스토니브룩 응급의료교육원, 예비군중대, 부설유치원, 신문사, 방송국이 있고 부설연구소로 문화관광교육연구소, 정보기술연구소, 제주향토식품연구소가 있다.

신세대, 뜬소리 등 19개의 동아리가 활동 중이며 매년 5월에 한라축제가 열린다. 1970년에 설립된 도서관에는 열람석 632석, 개가자료실 198석, 장서 6만8272권이 갖추어져 있다. 제주시 노형동에 있다


                      
                <P align=justify></P>
            </div>
            <div class="col-md-3">
                <div class="right-content">
                    <div class="row">



                        <div class="col-md-2">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
</body>
<% include ../include/footer.ejs %>
</html>