<html>
<head>
    <% include ../include/header.ejs %>
</head>
<body>
<% include ../include/nav.ejs %>
    <div class="container mar_bot_30 wide-t125">
        <div class="row text-center">
            <h1></h1>
            <h2>왜 Semantic Digital Archiving인가</h2>
            <h4>Don't Search BE PROVIDED: 우리가 관계사슬로 묶어 다면적접근법으로 보여드립니다. </h4>
            <br>
        </div>
        <div class="row intro pad20">
            <!--<div class="content">Don't Search BE PROVIDED ... 찾지마세요 우리가 찾아갑니다</div><br>-->
            <div class="col-md-8 col-md-offset-2">
                <div class="image" align="center">
                    <img src="static/img/chain-of-relation.gif" width="70%" title="nn"/>
                    <div class="text-center">눈에 안보이는 다른 레이어들 </div>
                </div><br>
                <h3>제주한라대학교에서 펼치는 세계최초 <br>Semantic Archiving </h3>
                <p><br>
                    Archiving만 하는 것이 아니라 실제 전 세계의 이용자들이 제주도의 향토자료를 활용할 수 있게 해야 한다. 

                    향토자료실에 실제 있는 자료들은 비물리적 공간인 이 곳 웹으로 옮겨져, 서술식 정보, 선별된 시각적 정보를 함께 제공하는 디지털 아카이브로 선보이며 공공적 접속면을 넓혀간다. 관련된 향토자료명 그것과 관련된 인물, 장소, 기관 등을 다양한 각도에서 조명함으로써 제주도 향토자료의 본질을 볼 수 있게 해줘야 한다.
                    지금까지는 그냥 단행본 위주의 정보검색이었다. 어느 정도 알고 있다면 키워드 입력어를 넣어서 찾아갈 수 있다. 그러나 이용자는 그렇게 똑똑하지 못하다. 이제는 그냥 클릭 한 두 번으로 때로는 기대하지 않았던 것까지도 다양한 설명을 담아서 이용자의 손에 안겨준다.
                    여기저기 흩어져 많이 있는 것은 사실이다. 의미상으로 전혀 연결이 안 되어 있다. 이에 제주한라대학교를 중심으로 의미상으로 연결해가는 사업을 전개한다.<br><br>

                    - 사라지는 향토자료에 대한 기초적인 기록이 요구되면서 아카이브의 필요성 대두<br>
                    - 창고 속에 파묻혀 있던 실물자료들과 여기저기 흩어져 있던 관련 기록물들을 한데 모아 ‘자료와의 대화’를 시작하자. 그 대화는, 자연스럽게, 우리 제주 사회의 도시 개발 속도와 맞물려 숨가쁘게 달려온 지난 세월을 성찰하는 시공간을 열어 줄 뿐 만이나라 이것은 미래 세대를 위한 유산이다.<br>
                    - 아카이브에 담긴 과거의 이야기가 생명력을 유지하기 위해서는 이를 새롭게 볼 수 있는 미래의 연구자들이 필요하다. 이 향토자료관은 그곳에서 파생할 새로운 이야기를 기다린다.
                </p>
            </div>
        </div>
        
        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <h4>현재의 문제점</h4>
                <h4>첫째: 검색의 어려움</h4>
                <p>다음과 같이 제주한라대학교의 향토자료관에 무엇이 있는지 아무도 모른다. 처음 들어온 사람이 무엇을 입력해서 무엇을 찾아가겠는가? 기존의 검색 시스템에서는 키워드, 문자열과 데이터베이스 상 최고의 단순 일치 여부를 통해 검색 결과를 제시함으로, 무의미한 결과물이 노출되지 못할 수도 있다. 특히 이용자의 정보 요구가 애매하거나, 요구에 따른 키워드 선택이 불분명한 경우 이러한 문제는 커질 수 있다. </p>
                <div class="image" align="center">
                    <img src="static/img/current_library.png" width="100%" title="현재검색시스템"/>
                    <div class="text-center">현재의 검색시스템</div>
                    
                </div>
            </div>
        </div>

        <!--  여기서 부터 한 세트로 사용하시면 됩니다 -->
        
        
        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <h4>둘째: 편협된 자료</h4>
                <p>단행본 위주의 자료만 있다. 그 외 분명히 정리하면 현대자료와 과거의 사진, 그림, 동영상, 다양한 기록물 등이 있을 것이다. 이런 것들과 함께 활용될 수 있어야 할 것이다. 지역의 산업.경제.인물 관련 자료. 조상들의 문화유산 등을 이젠 디지털의 힘을 빌려 융합의 장을 보여주어야 할 것이다. 제주도 전 씨족의 족보, 한 장의 팸플릿도 소중하다.</p>
                <div class="image">
                    <img src="static/img/jeju_1.png" width="100%" title="현재검색시스템"/>
                    <div class="text-center">향토자료관의 다양한 사례들</div><br><br>
                    <p>제주 일원에 있는 박물관 및 타 도서관 등에 있는 자료도 유용하게 활용될 수 있다. 제주한라대학교의 내부자료와 따로 구별시켜서 링크로 안내하면 좋을 것이다. <br>교육과 관련된 역사문화자료(상장, 교복, 학용품 등), 제주의 역사문화를 보여주는 자료(제주 관련 고전적, 고문서 등), 제주 해녀 문화 관련 자료(해녀복, 해녀 도구 등), 시대별 교과서 등이 다른 곳에도 분명히 있을 것이다. 가령 한국학중앙연구원에 있는 다음과 같은 내용도 여기를 통해서 링크되어 보여줄 수 있다. </p>
					<div class="image" align="center">
                    <img src="static/img/jeju_story.png" width="100%" title="현재검색시스템"/>
                    <div class="text-center">다른 곳 자료도 링크하여 서비스</div><br><br>
                   </div>
                <a href="http://waks.aks.ac.kr/extdata/project/AKS-2011-EBZ-3101/AKS-2011-EBZ-3101_DES/pdf/0013@AKS-2011-EBZ-3101.PDF">PDF보기...클릭해보세요 </a>
            </div>
        </div>
        
        
        <!-- 여기까지 한 세트 입니다. -->
        
        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <h3>대안</h3>
                <h4>기본적측면</h4>
                <p> 가장 기본적으로 이 시스템에는 무엇을 가지고 있다라는 것을 요약해서 보여줘야 한다. 가령 이곳에는 향토자료가 몇 점, 그에서 파생된 시간개념, 장소개념, 주제개념, 인물, 기관, 이벤트 등이 얼마나 있으며 그리고 이런 것이 이렇게 업데이트되어 가고 있다는 것을 시각적으로 보여줄 필요가 있다. 다음 그림에서 보여주는 것처럼 각각 몇 개씩 있는 가를 동적으로 보여준다. </p><br>

                <img src="static/img/dynamic.gif" width="100%" title="현재검색시스템"/>
                <div class="text-center">동적으로 보여주는 Entity의 종류와 각각의 Instance의 갯수</div>
                <br><br>
                <h4>정보검색측면</h4>
                <p> 많은 연구자가 위와 같은 기존 정보검색 시스템의 문제점에 대한 대안을 '의미검색' 즉 의미기반 검색해서 찾고 있다. 시맨틱 검색은 검색 시스템이 정보자원을 읽고 이해하며, 관계에 기반을 두어 연관정보를 이용하고 의미를 추론하여, 이용자가 원하는 정보를 추출해서 제공하는 것을 목표로 한다. </p><br>
                <p>검색 시스템의 이러한 정보처리를 가능하게하는 기반은 온톨로지구축에 있다. '온톨로지'는 '어떤 관심 주제를 개념화하기 위하여 명시적으로 정형화한 명세'라고 정의된다 다시 말해 온톨로지는 개념을 명확하게 표현하여 <u>식별 가능성</u>과 의사소통의 정확성을 확보하고, 개념 간의 <u>관계설정</u>을 통해 개념들이 계속 연결 가능하게 되며, 이를 기계가 인식할 수 있게 하려고 표현을 엄격하게 <b>형식화</b>한다. 이로 인해 키워드의 형태의 문자열 매칭이 아닌 정보자원에 대한 이해와 추론을 통한 의미기반 검색이 가능해지는 것이다. </p><br>
                <p> 1-1) 이용자중심형 검색: 이용자가 그냥 한 번 클릭해서 무엇이 있나 정도를 알 수 있게 서너 개의 예를 달아준다. 이용자는 일단 그것 중 하나를 클릭해보면서 시스템과 친숙하게 된다. 그렇지 않은 경우에는 보통의 이용자는 무엇을 어떻게 할 것인지를 몰라서 어리둥절한 경우가 많이 있다. <br></p>

                <img src="static/img/search_guide.gif" width="100%" title="현재검색시스템"/>
                <div class="text-center">이용자 친밀형 검색시스템</div>
                <br><br>
                <p> 1-2) 그 다음에는 실제 이용자가 입력했을 때 그냥 검색어 자동완성 수준이 아니라 해당 입력어 (instance)가 어떤 Entity에 해당한다는 것을 이용자에게 알려주면서 진행하는 것이 좋다. 여기서는 정교하게 모델링을 한 결과대로 보여주는 것이다. (Entity Auto Reference)<br></p>
  
                <img src="static/img/disambiguation.gif" width="100%" title="현재검색시스템"/>
                <div class="text-center">Instance와 Class관계를 밝혀주는 Reference</div>

                <br>
                <p> 1_3) 온톨로지를 통해 동음이의어의 경우, 개별 인스턴스에 유일한 식별자를 보유함으로써 구별할 수 있다. 개별 인물은 국제표준 인명 식별자. 유일한 식별자를 구하기 어려운 경우에는, 인스턴스와 클래스를 명확하게 관계 맺어 줌으로써 구별할 수 있다. 예로 파리는 곤충이라는 클래스의 하나이고 파리는 도시라는 클래스 중에 하나라고 선언해준다. 그러면 절대로 의미충돌은 생기지 않는다. Apple도 Apple사의 Apple인지 먹는 사과 Apple인지 우리 사람이 인지하듯이 기계에게 명확하게 전달해야 한다.<br></p>
                
                <img src="static/img/appology.gif" width="80%" title="현재검색시스템"/>
                <div class="text-center">Namespace 관리</div>

                <br>
                <p>이형동의어(異形同義語)의 경우, 검색시스템 내에서 많이 사용되는 어휘를 표준용어로 채택하고, 이와 유사한 어휘들은 유의어로 관계 맺어줌으로써 해결할 수 있다. (예, 평론이라는 의미를 표목으로 채택하고 이와 유사한 비평 서평 등은 유의어로 설정한다). 이렇게 되면 이용자가 비표목용어로 검색하더라도 표목을 이용해 검색했을 때와 같은 결과를 도출할 수 있다. 즉 이용자의 어휘와 시스템상의 어휘 간의 괴리를 좁혀 검색의 유연성을 확보할 수 있다. 이러한 용어 온톨로지는 개별 자료에 이용자가 태깅한 태그들을 표목과 관계 맺어 줌으로써 풍성화 할 수 있고, 또한 이용자 검색 로그 데이터에 축적을 통해 이용자가 많이 사용하는 어휘를 분석하여 추가할 수 있다.  </p><br>
                
                <img src="static/img/critic.gif" width="80%" title="현재검색시스템"/>
                <div class="text-center">다양한 비슷한 표현 수용하는 유연성</div>

                <br><br>
                
                <p>실제로 제주한라대학교 향토자료관의 경우 다음 그림과 같이 이용자가 '가렛독석'이라고 입력을 해도 표목으로 채택된 '고렛방석'으로 검색된다. 맷방석, 쳇덕석, 말멍석, 가래덕석 등 표목으로 채택되지 않았던 것도 온토로지의 기능으로 인해 다 검색이 되게해뒀다. 이렇게 보이지 않는 관계를 미리 전문가의 눈으로 다 모델링을 해 놓은 것이다. (엄격하게는 시소러스-on-the-fly-thesaurus의 기능으로)
                </p>
                <img src="static/img/garet.gif" width="70%" title="현재검색시스템"/>
                <div class="text-center">어휘통제 (Thesaurus) </div>
            </div>
        </div>
        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <h3>대안<br>브라우징 측면</h3>
                <p> 우선 전체를 일견할 수 있게 해준다. 전체를 알고 부분과의 상호작용을 잘 하게 한다는 생각이 다분히 <u>시스템적인 사고방식</u>이다. 이용자들에게 일단 전체적으로 어떤 것이 있다는 것을 보여주고 다음 단계로 하나의 축 위주로 전개되는 다양한 내용을 볼 수 있게 해줘야 한다. 바로 이 말이 BE PROVIDED 라는 말이다.</p>
                <div class="image">
                    <img src="static/img/localty.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[향토자료와 Pivoting] </div>
                </div>
                <br><br>
                    <p>이번에는 시간(timeline)을 축으로 해서 (횡으로 만든 축위에서) 그것 중심으로 전개될 수 있는 다양한 관계를 보여준다. 아래의 히스트그램을 클릭하면서 출판연도별로 제주한라대학교 향토자료실에 보유중인 자료를 보여준다.</p>
                <div class="image">
                    <img src="static/img/timeline.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[timeline] </div>
                    <br><br>
                </div>

                <p>다음은 장소를 축으로 해서 그것을 중심으로 전개될 수 있는 다양한 관계를 보여준다.</p>
                <div class="image">
                    <img src="static/img/place_new.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[장소와 Pivoting] </div>
                    <br><br>
                </div>
                <p>다음은 주제를 축으로 그것을 중심으로 전개될 수 있는 다양한 관계를 보여준다.</p>
                <div class="image">
                    <img src="static/img/subject_new.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[주제와 Pivoting] </div>
                    <br><br>
                </div>
                <p>다음은 인물을 축으로 해서 그것을 중심으로 전개될 수 있는 다양한 관계를 보여준다.</p>
                <div class="image">
                    <img src="static/img/people.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[인물과 Pivoting] </div>
                    <br> <br>
                </div>
                <p>다음은 기관을 축으로 해서 그것을 중심으로 전개될 수 있는 다양한 관계를 보여준다.</p>
                <div class="image" align="center">
                    <img src="static/img/organization.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[관련기관과 Pivoting] </div>
                    <br><br>
                </div>
                <p>다음은 이벤트를 축으로 해서 그것을 중심으로 전개될 수 있는 다양한 관계를 보여준다. 이벤트와 장소와의 관계, 이벤트와 주제와의 관계 및 이벤트와 향토자료와의 관계를 맥락 속에 살펴볼 수 있게 해준다.</p>
                <div class="image">
                    <img src="static/img/event_new.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[관련이벤트와 Pivoting] </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <div style="padding:20px;">
                    <h2>
                        향토자료 하나의 예
                    </h2>
                    <p> 가령 향토자료라는 축으로 Pivoting 시켜 더 다양한 관계 속에서 보여주면 다음과 같다. 수많은 향토자료 중 우선 종류별로 필터링을 할 수 있다. 가령 민예품 429개 중에서 재질이 나무로 된 것을 선택한다.</p>
                    <div class="image">
                        <img src="static/img/facet_wood.gif" width="100%" title="현재검색시스템"/>
                        <div class="text-center">[향토자료를 축으로 했을 때의 Pivoting] </div>
                    </div>
                </div>
                <br>
                <p> 그러면 오른쪽에 다름 그림과 같이 나무를 재질로 한 민예품 69여점을 볼 수 있을 것이다. </p>
                <div class="image">
                    <img src="static/img/facet_wood_narrow.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">[향토자료를 축으로 했을 때의 Pivoting] </div>
                </div>
                <br>
                <p> 그것을 또 한 번 더 필터링해서 염직용으로 사용된 것으로만 보고 싶으면 다음과 같이 세 개의 민예품만 볼 수 있다 </p>
                <div class="image">
                    <img src="static/img/facet_further_down.gif" width="100%" title="현재검색시스템"/>
                    <div class="text-center">향토자료를 축으로 했을 때의 Pivoting </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-8 col-md-offset-2">
             <p> 이젠 다시 원래의 나무 69점으로 돌아가고 싶으면 아래 그림의 (x)를 누르면 원래 모습으로 되돌아가고, 또 민예품 429점으로 돌아가고 싶으면 그 위의 나무의 (x)를 클릭하면 제일 첫 상태로 돌아간다. </p>
            <div class="image">
                <img src="static/img/facet_back.gif" width="100%" title="현재검색시스템"/>
                <div class="text-center">향토자료를 축으로 했을 때의 Pivoting </div>
            </div>
        </div>
        <br>

        <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <h3>향토자료 최종화면</h3>
                <p>어느 한 아이템을 최종 선정하면 다음과 같이 더 자세하게 안내할 수도 있다.  이때 이용자들은 생각하지도 않았던 좋은 내용으로 안내받기도 한다. 이용자는 끊임없이 클릭하면서 서핑한다.</p>
                <div class="image">
                    <img src="static/img/gore.gif" width="100%" title="현재검색시스템_고렛방석의 경우"/>
                    <div class="text-center">어떤 향토자료의 모습</div>
                    <br><br><br>
                </div>
                <p> 이제 우선 오른편 상단의 어휘통제 부분을 본다. 즉 전거통제를 하는 모습을 보게 된다. 이용자는 쳇방석이라고 입력을 해도 시스템은 자동으로 고렛방석을 보여주는 메카니즘을 보여준다. 글로써 보여주는 것 뿐만 아니라 실제로 바로 그렇게 작동시킨다는 것이다. (On-the-fly thesaurus)</p>
                <div class="image">
                    <img src="static/img/gore_thesaurus.gif" width="100%" title="어휘통제"/>
                    <div class="text-center">어휘통제를 하고 있는 모습</div>
                    <br><br><br>
                    <p> 이때 이용자에게 이 아이템이 뭐다라는 것을 국문 및 영문으로 해설한다.</p>
                </div>
                <div class="image">
                    <img src="static/img/gore_desc_translation.gif" width="100%" title="현재검색시스템_고렛방석의 경우"/>
                    <div class="text-center">고렛방석을 설명 (국문 및 영문)</div>
                    <br><br><br>
                    <p> 다음은 관계사슬을 통한 연결이다. 이용자가 끊임없이 주관적으로 탐색할 수 있게 맥락을 제공해준다. </p>
                </div>
                
                <div class="image">
                    <img src="static/img/gore_relation.gif" width="100%" title="어휘통제"/>
                    <div class="text-center">고렛방석과 관련된 관계사슬</div>
                    <br><br><br>
                    <p> 이용자가 끊임없이 주관적으로 탐색할 수 있게 맥락을 제공해준다. 여기서는 용도 '주/생활용품/기타'를 클릭하는 경우이다.</p>
                </div>
                <div class="image">
                    <img src="static/img/gore_yongdo.gif" width="100%" title="어휘통제"/>
                    <div class="text-center">생활용품/기타를 클릭하는 모습</div>
                    <br><br><br>
                    <p> 그 결과는 다음과 같이 생활용품에 대한 간단한 설명을 제공 받고 그것과 관련된 다름 향토자료들을 볼 수 있게 된다. 더 많은 자료가 있으면 오른 쪽의 스크롤 바를 활용해서 아래 위로 움직이면서 볼 수 있다. </p>
                </div>
                <div class="image">
                    <img src="static/img/gore_etc.gif" width="100%" title="어휘통제"/>
                    <div class="text-center">생활용품/기타에 관한 더 많은 자료를 스크롤 할 수 있는 화면</div>
                    <br><br>
                    <p> 그 다음은 속성정보를 보여주는 코너이다. 규격, 시대 등 이 아이템에 대한 기본적인 재원 보여준다.  </p>
                </div>
                <div class="image">
                    <img src="static/img/gore_attributes.gif" width="100%" title="어휘통제"/>
                    <div class="text-center">속성정보를 보여주는 화면</div>
                    <br><br>
                   <p> 그 중 다른 저장소라는 곳이 있다. 이 경우는 제주대학교 박물관에서 소장하고 있는 곳으로 연결시켜준다.  </p>
                </div>
                <div class="image">
                    <img src="static/img/gore_otherPlace.gif" width="100%" title="어휘통제"/>
                    <div class="text-center">다른 저장소를 클릭하는 장면</div>
                    <br><br>
                    <p> 제주대학교 박물관으로 연결된 모습을 보여준다.  </p>
                </div>
                <div class="image">
                    <img src="static/img/gore_jejuuniversity.gif" width="100%" title="어휘통제"/>
                    <div class="text-center">다른 저장소의 모습</div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</body>
<% include ../include/footer.ejs %>
</html>