<html>
<head>
    <% include ../include/header.ejs %>
</head>
<body>
<% include ../include/nav.ejs %>
<div class="parallax-intro">
    <div class="">
        <img src="static/img/hyundai.png"/>
    </div>
</div>
<div class="container mar_bot_30">
    <div class="row text-center">
        <h1></h1>
        <h2>제4차 산업혁명의 정신과 도서관의 역할</h2>


    </div>
    <div class="row intro">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="content">찾지마세요 우리가 찾아갑니다</div>




            <div class="image">
                <img src="static/img/shelf.png" style="width:300px;" title="nn"/>
            </div>


            <div>
            
            
제4차 산업혁명의 정신과 도서관의 역할<br>

 <br> 조명대<br><br>

제4차 산업혁명: 또 하나의 새로운 가치발견 <br><br>

   우리 인류는 문명의 복잡성에 부딪힐 때마다 뭔가 새로운 가치를 추구해왔다. 말과 문자에 이어 인쇄술이라는 기술의 발명 때문에 우리 인류는 획기적인 전환기를 마련하게 된다. 이 인쇄술은 그 당시의 기업가에게 하나의 새로운 가치를 제공하게 된다. 이것은 르네상스, 과학혁명, 종교혁명 등의 비약적인 발전을 하게 만든 동인이 된다.<br><br>
이것은 영국에서 다시 새로운 기업가 정신으로 꽃이 피게 된다. 바로 인공으로 동력을 만들어 낸다는 기상천외한 일이 일어나 우마차를 단숨에 대치해버린다. 이른바 1차 산업혁명이라는 동력혁명이 일어난 것이다. 이어서 전기의 발명으로 19세기 말 독일 및 미국을 중심으로 대량생산을 하면서 생산성의 극대화를 시도한다. 기술에 과학을 입힌 제2차산업 혁명이라는 또 하나의 새로운 가치를 발견한다. 그다음은 인류의 또 하나의 획기적인 전환점인 컴퓨터의 발명과 함께 정보통신기술은 자동화의 진화를 끌어내 3차 산업혁명을 주도하게 된다. 이때의 자동화는 기계 한 대만의 자동화이다. 다음에 불어닥칠 여러 대의 기계끼리 상호 소통한다는 것을 상상을 못할 때이다. <br><br>

   이제 또 하나의 혁명의 씨앗이 싹트고 있다. 지금까지와는 완전히 다른 차원의 새로운 물결이 엄청난 크기와 힘과 속도로 밀려오고 있다. 바로 제4차 산업혁명이다. 제4차 산업혁명은 인공지능에 의해 자동화와 연결성이 극대화되는 산업환경의 변화를 의미한다. 시대를 넘어 현재 상태를 뛰어넘는 연결성을 끌어내는 수단이 생겼을 때 우리는 혁명을 만났음을 기억할 필요가 있다. 지금까지의 인공동력, 단순한 자동화가 아니라 사이버 공간에서 인공지능을 활용하면서 현재 상태를 뛰어넘는 연결성을 시도한다. 비로소 1~3차 혁명에서 만든 제품에 지능을 입히게 된 것이다. 그래서 다른 차원의 혁명이 데이터의 활용을 중심으로 진행되고 있다. 여기에 인공지능 기술을 입혀 최적의 상태로 제어되는 새로운 차원으로의 진화를 계속하고 있다. 요컨대 초연결과 초지능의 혁명이다. 따라서 4차의 자동화는 여러 대의 기계가 서로 데이터를 주고받으면서 인간의 매개 없이 정교한 알고리즘에 의한 차원이 다른 자동화이다. 여기에서 우리가 중요하게 봐야 할 것은 모두 스마트한 데이터를 주원료로 사용하고 있다는 것이다. 이 데이터에 온톨로지 및 인공지능의 알고리즘을 더 하면서 일어나는 변화를 살펴보자. 인간이 지금까지 발견한 창의성의 발로이다. <br><br>

   본고에서는 이 새로운 혁명의 핵심 기술인 CPS를 살피면서 거기에 녹아있는 차원 다른 연결성과 자동화에 주목한다. 인간들끼리만 사용하는 자연어가 어떻게 기계와 소통하는가를 살피면서 온톨로지를 소개한다. 그 온톨로지가 인공지능과 만나 우리 도서관 이용자에게 개인화·맞춤화.자동화 시스템을 어떻게 제공하는가를 살피면서 국회도서관이 나아갈 바를 제시한다.
<br><br>
1.1. 자동화와 연결성의 진화: CPS <br><br>

   지금까지의 혁명은 분화 및 분업에 기반을 둬서 생산성 향상에 주력해왔다면, 지금의 제4차는 끊임없는 연결로 일체화 및 융합을 이뤄 많은 단계가 줄어든 자동화의 극치에 이른다. 여러 사람이 하던 일을 인공지능이 대신하는 것이다. 불가능하다고 생각했던 이질적인 여러 세계의 연결이 가능해졌다. 제4차 산업혁명의 혹심인 CPS가 바로 그것이다. 3차 산업혁명은 정보 기술의 확장과 그것에 의한 생산 자동화로 규정된다. 그것과는 달리 4차 산업혁명은 사람과 사물과 공간이 인터넷으로 총연결되고, 거기서 생산되는 빅 데이터를 기반으로 사이버 시스템과 물리적 시스템이 연동된 복합 시스템(Cyber Physical System)으로 재편된 것을 말한다. <br><br>

   이렇게 물리적인 세계와 사이버 세계가 서로 긴밀하게 응답하고 협력하는 인지형콘트롤 시스템을 만들어 내게 된다. 자율자동차가 인간의 매개 없이 도로를 질주할 것이고 스마트 공장에서 인간의 적극적인 개입 없이 주문에서 생산 유통 및 AS까지 맡게 된다. 이윽고 인간과 로봇을 연결하는 경지에까지 왔다. 이젠 개인의 어떤 요구에도 맞춤으로 제공하는 자동화 경지에까지 이르렀다.<br><br>

1.2 이질적인 두 세계의 직접적인 만남 <br><br>

   전혀 다른 두 세계가 이처럼 소통을 한다는 것은 우리 인간의 몸이 물질이 아닌 의식을 만들고, 물질이 아닌 그 의식이 거꾸로 물질인 몸을 움직이는 것보다도 더 신기한 현상이 일어나는 것이다. (유시민 p.21) 서로 이질적인 두 세계, 즉 정신적 세계와 물리적인 세계가 어떻게 연결되는지를 첨단 기술을 통해 재현해 냄으로써 두 세계의 연결이 결코 신비한 현상이 아니라는 것을 극적으로 보여주는 것이다. 이는 존재론의 어려운 문제를 피해가게 하는 아주 경쾌한 발걸음이다. (박승억, 2017) 사실 인간의 말까지도 기계가 알아듣는 기상천외한 일이 일어나고 있다.<br><br>

1.3 개인화·맞춤화. 자동화<br><br>

   제4차 산업혁명의 핵심기술인 CPS가 도서관이 추구하는 새로운 가치와 연결될 때 혁신이 아닌 변신이 일어날 수 있을 것이다. 이때 전혀 예상치 못했던 이용자들의 맥락을 고려한 경험을 녹여' 개인화'되고' 맞춤화'된 정보를' 자동화된 시스템'을 통해서 제공해줄 수 있을 것이다. 복잡하고 오묘한 연결망을 갖춰 초지능을 자아내게 하는 초인지형 정보처리시스템은 도서관이 잘할 수 있는 일이다. <br><br>

2. 의미추구의 욕구 
<br>
   흩어져있는 데이터들을 인간의 관점에서 의미 있는 정보로 바꾸고 싶어 한다. 인간은 같은 물리적 신호에 적어도 전문가의 시각으로 서로 다른 의미를 부여할 줄 아는 능력이 있다. 이것을 어떻게 기계에 인간이 생각하는 것을 전달하게 해줘서 지금보다는 다른 방법으로 의미화할 수 없겠느냐는 아주 현실적인 고민을 하게 된다. 우리 인간은 또 하나의 욕구를 요구하는 셈이다. 바로 의미추구의 욕구이다. 
그렇게 하게 되면 이제 방대한 데이터의 상관관계를 파악함으로써 숨겨져 있는 맥락을 파악할 수 있는 강력한 힘을 갖게 된다. 그 데이터들이 문맥을 갖지 못한다면 그것은 의미 없는 쓰레기 더미에 불과할 수 있다.  <br><br>

2.1 시맨틱모델 <br>

   이에 시맨틱웹이 구원투수로 등장하게 된다. 즉 말 그대로 뜻을 살린 웹을 만들고 인간이 못했던 자동화 기능을 부여하자는 것이다. 
시맨틱웹은 사람이 웹 정보에 대하여 의미를 파악하고 의미에 따라 필요한 정보를 선택하듯이 컴퓨터가 웹 정보의 의미를 이해하고 의미에 따라 선택적으로 정보를 획득, 추론, 통합, 가공할 수 있는 웹 환경을 제공해준다.<br><br>

   인간이 이해하는 이 세상에 대해서 인지하는 것을 기계가 인지하게 하기 위해서는 뭔가 중간에 매개체를 만들어주고 인간의 역할을 없앤다는 것이 제4차 산업혁명의 핵심기술인 CPS의 핵심이지 않았던가? 자율주행차나 스마트공장에서는 실제 물리적인 기계에 인공지능을 심어 그렇게 연결을 시도하면서 인간의 역할을 없앴다면, 이제 웹에서는 뜻이 없이 그냥 떠도는 텍스트나 숫자 등의 그냥 데이터를 인간과 기계가 동시에 이해할 수 있는 메커니즘을 바꿔서 CPS가 일어나게 하자는 것이다. 이에 미리 어떤 기본형을 정해놓고 그것을 저장해 두었다가 현장에서 이를 반복적으로 불러내는 방법을 사용해보자는 것이다. 어떤 현상을 바라보는 눈을 일단 그 기본형에 담아 두자는 것이다. 의미를 해석하는 뼈대를 만들어 놓자는 것이다. 의미 모델이 필요하다는 것이다. 또 이것은 나중에 하나의 씨앗이 되어 인공지능의 도움으로 그 기본형 자체가 점점 진화되어 가기도 할 것이다. <br><br>

2.2 표준화된 논리적 접착제로 매력적인 정보로 <br><br>

   이제 좀 더 구체적으로 이 의미 모델에는 논리적 접착제 또는 윤활유가 있어야 불가능하게 보였던 그 둘 사이의 연결이 직접 매끄럽게 될 수 있다. 바로 이것이 인간과 기계 양쪽이 알아들을 수 있게 표준화시켜 만들어 놓은 RDF, RDFS 또는 OWL 등이 이에 해당한다. 바로 이런 언어를 사용해서 인간과 컴퓨터를 잇게 한다. 즉 표준화된 논리적 접착제를 사용하는  것이다. 이것이 인지형 통합시스템에 사용되어 이 세상에 존재하는 모든 것(things)들을 사이버공간을 통해서 조화롭게 어우러져 매력적인 정보를 만들어 내게 한다. 바로 이것이 제4차 산업혁명 기술의 핵심이 되는 CPS를 도서관에서 활용할 수 있는 정신이다. 사실 도서관계는 이미 이 정신을 이해하고 이에 해당하는 표준도 만들어 왔다. FRBR 모델 등이 이에 해당한다.
<br><br>
2.3 시소러스와 온톨로지 <br><br>

   어떤 현상을 바라보는 뼈대 또는 모델이 필요하다고 했다. 그 현상을 바라보는 첫 단계로 인간이 생각하는' 자연어'의 세계를 바라보는 창 또는 모델을 만들어 줄 생각을 하게 된다. 우리의 말과 글을 기계에게 이해시키려니 반드시 필요한 과정이다. 우리 인간의 의식 배후에 있는 존재자에 대한 시각을 정교하게 묘사해서 인간과 컴퓨터가 동시에 이해할 수 있는 모델로 제공해 보자는 것이다. 즉 컴퓨터에서도 우리 인간이 가지고 있는 개념을 일종의 데이터베이스 형태로 미리 예비해 놓고 실제 검색의 현장에서 이를 반복적으로 불러내서 주어진 상황과 맥락에서 더욱 나은 선택을 하게 하자는 것이다. 그 기본형을 어떤 분야에서 주로 사용하는 어휘 등을 통제해보자는 목적으로 만들면 이런 것을 시소러스라고 한다.  이렇게 시소러스를 만들어주면 어휘 간의 의미 모호성으로 인해 발생하는 의미 충돌을 방지시켜 주며 같은 개념에 대한 다른 어휘를 연결해줌으로써 특정 개념을 더욱 상세하고 관련성 높은 정보로 제공해 준다.  <br><br>

   하지만 시소러스에서는 개념들을 개체(Entity)라는 하나의 클래스를 만들고 그 안에서 용어(terms)들에 식별자를 부여하고 관계를 맺으면서 통제했다면, 다음은 여러 개의 다양한 개체를 만드는 시도를 할 수 있다. 어떤 해당 분야에 사용되는 용어뿐만 아니라 시소러스로서는 표현하기 어려운 관계는 다른 방법을 동원해야 한다. 가령 사람의 이름이나 지명 등을 시소러스로 통제할 수 없다. 이들에 상·하위 개념이 있을 수 없기 때문이다.<br><br>

   위의 설명을 바탕으로 온톨로지라는 말을 세부적인 정의할 필요가 있다. 온톨로지를 정의할 때 사용되는 몇 가지 용어를 정리한다. Shared(공유)란 개념은 해당 영역 구성원뿐만 아니라 컴퓨터 간에 합의된 지식에 바탕을 두고 있다는 것을 의미한다. Conceptualization(개념화)이라 함은 대상 세계에서 일어나는 현상에 연관된 개념들을 특정 목적을 위하여 표현하기 위한 추상적인 모델을 말하는데 앞에서 설명한 개념 및 개체를 기계와 함께 바라고자 함이다. 또한 Formal(형식적)이라는 말을 듣게 되는데 이는 컴퓨터가 이해할 수 있게  한다는 것을 의미하며, Explicit(명시적)이란 개념의 종류와 그들 간의 관계, 그리고 그 개념들의 사용에 있어서 주어지는 공리 및 제약사항을 명백하게 정의한다는 것이다. 즉, 온톨로지는 인간의 생각을 컴퓨터가 처리할 수 있도록 구체적으로 표현되어 지식재활용이 가능한 메타모델이라 정의할 수 있다. <br><br>

3. 인공지능이라는 구원투수의 등장 <br><br>

   제4차 산업혁명의 도래와 함께 이제는 인공지능이라는 또 다른 구원투수가 등장한다. 사실 가장 먼저 온톨로지 개념을 적용한 컴퓨터 분야는 지식표현과 활용을 연구하는 인공지능 분야였다. 이제 인공지능은 제4차 산업혁명의 원동력 가운데 하나로 부상한 것은 사실이다. 인공지능을 만나 새로운 가치를 창출한다. 인공지능(AI)이란, 말 그대로 인공적으로 만들어진 지능을 말한다. 어떤 문제를 줬을 때, 스스로 문제에 대해 사고하고 해결할 수 있는 능력을 갖춘 시스템이라고 할 수 있다. 엔지니어들이 자연에 인공을 가미해 자연스럽게 인공동력을 만들었듯이, 우리가 일반적으로 사용하는 자연어에 인공을 가미해 인간과 기계가 소통할 수 있는 정도의 인공지능을 추가하자는 시도를 하게 된다. 제4차 산업혁명의 핵심 동인 중의 하나이다. <br><br>

3.1 온톨로지 Learning <br>
<br>
   이제 이미 만들어진 온톨로지를 더 다양하게 사용할 방법을 생각해보자. 온톨로지를 한 번 만들어 놓는다고 해서 끝이 아니라 온톨로지도 인공지능의 발전과 함께 계속 학습시켜서 더 유용하게 사용하자는 시도를 하게 된다. 컴퓨터에 데이터를 읽게 해서 자동으로 개념을 찾아내고 그 개념에 속할 수 있는 용어(terms)를 찾는 등의 용어 및 개념 사이의 관계를 찾아보자는 것이다. 시간이 지남에 따라 세상은 인간조차 스스로 어떻게 하는지 모르는 영역을 요구하기 시작했기 때문이다. 인간의 힘으로 우선 시소러스 및 온톨로지를 만들어 놓으면 이것이 하나의 씨앗이 되어 실제 더 많은 데이터베이스, 다양한 포털, 사전, 또 다른 전거자료, 다른 시소러스 등에서 원천데이터를 가져와서 Deep Learning을 시작한다. 이때 데이터를 상황에 따라서 누적시키면서 확장해 나가기 시작할 것이다. 
<br><br>
   인공지능을 활용해서 다어의(多義語), 동음이의어(同音異義語), 이음동의어(異音同意語, Synonyms), 동형이의어(同形異意語), 동음이형어(同音異形語), 유의어(類意語), 관련 단어(Related Words ) 및 동의어(同義語·同意語) 등의 instance level의 관계를 사용된 맥락에 따라서 구별하면서 더 다양하게 찾아올 수도 있을 것이다. 이렇게 기계가 사람들이 구사하는 말(즉, 자연언어)을 이해하고 반응하게 하려고, 사람이 가진 언어에 대한 지식을 기계에 구현하는 총괄적인 지식을 의미하는 것을 자연언어 처리(Natural Language Processing)라고 할 수 있다. 이에는 형태소분석을 기본으로 포함하고 있다. 물론 자연어처리는 해당 어휘의 다양한 관계만을 살피는 것이 아니라 문장의 역할-적어도 주어/동사/목적어-까지도 같이 살필 수 있을 것이다. 
<br><br>
4. 제4차 산업혁명형 도서관 서비스<br><br>

4.1 차별화된 콘텐츠 서비스 <br><br>

   의미가 분명해진 콘텐츠와 식별된 이용자로 더 정확한 개인·맞춤형 서비스를 제공할 수 있다. 연결성 진화로 웹이라는 거대한 플랫폼에 있는 텍스트가 점점 의미 있는 데이터나 정보 수준으로 바뀔 것이다. 초연결의 결과이다. 온톨로지가 잘 이루어질수록 인공지능은 발달하고 기계가 자동으로 처리할 수 있는 일은 많아진다. 많은 일을 스스로 판단하고 행동하는 것이 인공지능 프로그램이 잘하는 일이다. <br><br>

   이제 인공지능의 힘으로 똑같은 어휘라도 다를 수 있는 것 등을 다 식별하고 스스로 관계있는 것을 다 찾아와서 보여줄 수 있다. 또 다른 차원의 인공지능은 이용자를 다양하게 구별할 것이다. 따라서 구별된 이용자에게 알맞은 첫 페이지를 보여줄 수 있을 것이다. 또 실제 내용을 브라우징할 때도 그 이용자에게 가장 가까운 어휘를 보여줄 것이다. 이용자들이 행동 중에서 중요하고 본질적인 특징을 획득하여 이용자가 정말 찾고 싶어하는 것을 미리알아서 알려주는 서비스가 될 것이다. 이용자가 잘 모르는 어휘를 만날 경우 문맥적인 도움을 줄 수 있다. 시스템은 용어에 대한 정의를 상황에 맞춰서 표시해줄 수 있다. 또 시스템은 저작자들 사이에 영향을 받은 저작자와 영향을 끼친 저작들의 상호관계를 그래프로 표시해 줄 수도 있을 것이다. 
<br><br>
4.2 Entity-Auto-Reference <br><br>

   사실 검색이라는 것은 참 어려운 일이다. 지금 거의 모든 시스템이 그냥 String만 일치하는 것을 찾아서 보여주는 matching시스템이기 때문이다. 전혀 뜻을 고려하지 않았다는 것이다. 그러나 우리는 앞서 언급했듯이 찾고자 하는 어휘 (가령, 주로 키워드)는 어떤 개체(entity)의 경우의 수 (instance)가 대부분이다. 이 instance는 온톨로지 및 인공지능의 도움으로 명확하게 식별되어 유일한 식별자를 가지고 있다. 가령 동명이인일 경우에도 도서관의 전통기법인 전거통제를 통해서 식별을 시켜서 보여준다. 이용자는 자기가 찾는 사람을 클릭만 하면 그 사람과 관계된 정보를 계속 이어서 받는다. 이것이 대표적인 선제 서비스가 될 것이다. 다음, 보통명사가 입력되면 그것을 개체별로 묶어서 구분해서 이용자에게 보여준다. 즉 바로 그 자리에서 아주 간단한 패싯이 만들어져서 제공되는 것이다. 이용자는 역시 선택만 하면 된다. 일단 선택되고 나면 연관된 개념에 대해서" 더 알아갈 수 있도록" 도와준다. 이러한 방식은 동음이의어가 입력되는 혼란을 애초부터 제거하며, 아예 보유하고 있지 않은 정보에 대한 접근은 차단해버린다. 물론 인공지능의 도움으로 음성으로도 검색할 수 있다.  <br><br>

4.3 AR/VR<br><br>

   제4차 산업혁명의 또 다른 모습은 AR 및 VR의 활용이다. 정보 활용을 반드시 웹 및 모바일에서만 하는 것은 아닐 것이다. 웹이나 모바일에서도 AR 및 VR 접목할 수도 있고 또 따로 된 서비스도 가능하다. 전술한 바와 같이, 이미 모든 데이터들이 관계를 맺고 있으므로 Graph 구조로 보여주면서 음성 및 터치에 의해서 이용자들이 가상현실 및 증강현실을 접하게 될 것이다. 가령, 모바일에 앱으로 제공하여 어떤 객체 (예로 바나나, 사과)를 인식하게 하면 그 instance 중심으로 있을 수 있는 연관 정보를 계속해서 보여줄 수 있을 것이다. <br>

4.4 관계형 패싯 브라우징: 또 하나의 연결의 진화 <br><br>

   시스템은 Relational Facets Navigation을 허용해야 한다. 이 기능은 일반적인 하나의 축으로 구성되는 기존의 패싯과는 다르다. 여러 개의 축을 허용함으로써 더 다양한 Record가 상호 작용을 하게 된다. 또 하나의 연결의 진화이다. 전혀 연결될 수 없는 상황이었는데 지정된 축을 중심으로 패싯이 형성되고 그 패싯은 해당값을 보여주면서 이용자를 안내한다. 그렇지 않으면 SQL 및 SPARQL이라는 어려운 질의를 직접 만들어야 한다. 거의 불가능한 이야기이다. 바로 이런 관계형 패싯 브라우징을 통해서 생각하지도 못했던 연결이 이루어지면서 융합이 이루어진다. <br><br>

5. 도서관의 역할<br><br>

5.1 인공지능 중심의 소프트웨어 플랫폼 마련하라<br><br>

   웹과 도서관이 서로 지평을 넓혀주는 클라우드 기반에 인공지능 중심의 빅데이터 분석을 하게하고 또 이용자들도 직접 분석할 수 있는 해당 소프트웨어까지 제공하는 플랫폼을 마련해야 한다. 학술정보의 원문정보 등의 비정형 텍스트 정보로부터 의미 있는 주제어(Subject)와 전문용어 및 개체명(Entity) 정보를 추출하기 위해서 형태소 분석, 구문 분석, 의미 분석, 전문용어/개체명 인식 등의 언어처리 분석을 수행할 수 있을 것이다. 비정형 텍스트로부터 대역어/약어, 용어설명 부, 약칭 등을 패턴화하여 추출이 가능한 요소를 파악하여 추가로 사전적 정보를 자동으로 추출, 구축할 수 있을 것이다. 이렇게 어휘를 서로 나눌 수 있게 됨으로써, 다른 커뮤니티끼리도, 비록 다른 포맷으로 되어 있더라고 서로 데이터를 연결할 수 있다. 개인의 도서관 차원을 뛰어넘을 수 있다. 본질에서 웹과 도서관 목록은 서로 서로의 지평을 넓혀줄 수 있다는 것이다. 웹은 도서관 속으로 깊숙이 들어올 수 있고 도서관은 웹으로 깊숙이 들어갈 수 있다. 물론 처음부터 전 영역을 다 다룰 수는 없다. 
<br><br>

5.2 시맨틱표준을 확립하라 <br><br>

   마치 유통과정의 모든 것을 표준화된 포맷으로 서로 주고받으면 다양한 유통업체에 납품·배송 등 모든 것이 한 번에 끝을 낼 수 있듯이 도서관 자료의 연계 통합에도 표준화가 필수적이다. 도서관계는 도서관끼리 주고받을 수 있는 표준을 비교적 잘 만들어 활용하고 있다. 그러나 웹 시대에 진정한 연계 통합을 생각한다면 시맨틱웹 표준을 만들어야 한다. 적어도 국가 학술정보를 Linked Data로 발행해서 효율성을 올리고 싶다면 반드시 시맨틱웹 표준을 확립해야 할 것이다. <br><br>

6.결론<br><br>

   도서관이 적극적으로 변신해야 한다. 소비자가 움직이는 것에 따라 새로운 산업이 형성되듯이 이용자들이 생각하는 가치에 따라 변신하는 도서관이 되어야 할 것이다. 이용자는 끊임없이 진화한다. 작금 제4차 산업혁명시대에 없어질 직업의 하나가 도서관사서라고 보도한 언론도 있다. 이는 전혀 사실과 다르다(신상호. 2017). 앞에서 열거한 제4차 산업혁명형 도서관의 역할과 국회도서관의 역할을 재분석하면 도서관 사서는 이용자들을 위한 새로운 서비스를 끊임없이 개발할 수 있다. 이것는 높은 수준의 사고능력, 교감능력을 요구한다. 도서관이 이 점을 주목해야 한다. 사서들의 임무가 결코 아무나 대신할 수 있는 단순 노동이 아니다. <br><br>

   사서들의 꽃이라고 할 수 있는 참고 봉사활동만 해도 그 서비스의 질이 많이 달라져야 할 것이다. 앞서 언급한 개인·맞춤 서비스를 하게 하기 위해서는 사서들이 각 영역에서 좋은 원천데이터를 컴퓨터에 넣어줄 수 있는 아주 높은 수준의 전문지식을 필요로 한다는 것이다. 이용자와 가치 공감하는 능력 및 이용자의 숨어있는 잠재적인 요구를 찾아내야 하는 또 다른 차원의 전문수준도 요구한다. 사서들도 이러한 수요에 맞춘 자체적인 재교육도 생각해야 할 것이다. 결국은 사람이 핵심이라는 말을 새겨들을 필요가 있다. 
<br><br>


참고문헌<br>
김진형(2017). `개방과 공유` 혁신 생태계 만들자‘ <br>
http://www.dt.co.kr/contents.html?article_no=2017041702100151607001<br>

박승억(2017). 인문학논총 Journal of Humanities 2017, Vol. 43, No.6, 141~161 <br>

신상호 (2017) 후보들마다 4차 산업혁명, 부작용은 알고 있나? http://v.media.daum.net/v/20170414165706226  <br>

유시민(2016.) 유시민의 글쓰기 특강. 도서출판 아름다운 사람들. <br>
                
                
            </div>
            <div class="col-md-3">
                <div class="right-content">
                    <div class="row">
                        <div class="col-md-10">

                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
</body>
<% include ../include/footer.ejs %>
</html>