<html>
<head>
    <% include ../include/header.ejs %>
</head>
<body>
<% include ../include/nav.ejs %>

        </div>
    </div>
    <div class="container mar_bot_30 wide-t125">
        <div class="row text-center">
            <h1></h1>
            <h1>오늘의 향토자료 코너</h1>
        </div>
 
         <div class="row pad20">
            <div class="col-md-8 col-md-offset-2">
                <h4>매일 매일 하나씩 소개합니다</h4>
                <p>단행본 위주의 자료만 있다. 그 외 분명히 정리하면 현대자료와 과거의 사진, 그림, 동영상, 다양한 기록물 등이 있을 것이다. 이런 것들과 함께 활용될 수 있어야 할 것이다. 지역의 산업.경제.인물 관련 자료. 조상들의 문화유산 등을 이젠 디지털의 힘을 빌려 융합의 장을 보여주어야 할 것이다. 제주도 전 씨족의 족보, 한 장의 팸플릿도 소중하다.</p>
                <div class="image">
                    <img src="static/img/jeju_1.png" width="100%" title="현재검색시스템"/>
                    <div class="text-center">향토자료관의 다양한 사례들</div><br><br>
                    <p>제주 일원에 있는 박물관 및 타 도서관 등에 있는 자료도 유용하게 활용될 수 있다. 제주한라대학교의 내부자료와 따로 구별시켜서 링크로 안내하면 좋을 것이다. <br>교육과 관련된 역사문화자료(상장, 교복, 학용품 등), 제주의 역사문화를 보여주는 자료(제주 관련 고전적, 고문서 등), 제주 해녀 문화 관련 자료(해녀복, 해녀 도구 등), 시대별 교과서 등이 다른 곳에도 분명히 있을 것이다. 가령 한국학중앙연구원에 있는 다음과 같은 내용도 여기를 통해서 링크되어 보여줄 수 있다. </p>
					<div class="image" align="center">
                    <img src="static/img/jeju_story.png" width="100%" title="현재검색시스템"/>
                    <div class="text-center">다른 곳 자료도 링크하여 서비스</div><br><br>
                   </div>
                <a href="http://waks.aks.ac.kr/extdata/project/AKS-2011-EBZ-3101/AKS-2011-EBZ-3101_DES/pdf/0013@AKS-2011-EBZ-3101.PDF">PDF보기...클릭해보세요 </a>
            </div>
        </div>
        