<div class="sidebar" data-background-color="white" data-active-color="success">
    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                육군 디지털아카이브
            </a>
        </div>
        <ul class="nav">
            <li name="dashboard">
                <a href="/admin">
                    <i class="ti-panel"></i>
                    <p>관리자페이지</p>
                </a>
            </li>
            <li name="table">
                <a href="/news_board">
                    <i class="ti-view-list-alt"></i>
                    <p>공지사항</p>
                </a>
            </li>
            <li name="data">
                <a href="/data">
                    <i class="ti-list"></i>
                    <p>자료관리</p>
                </a>
            </li>
            <!--<li name="user">-->
                <!--<a href="user.php">-->
                    <!--<i class="ti-user"></i>-->
                    <!--<p>User Profile</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li name="typography">-->
                <!--<a href="typography.php">-->
                    <!--<i class="ti-text"></i>-->
                    <!--<p>Typography</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li name="icons">-->
                <!--<a href="icons.php">-->
                    <!--<i class="ti-pencil-alt2"></i>-->
                    <!--<p>Icons</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li name="maps">-->
                <!--<a href="maps.php">-->
                    <!--<i class="ti-map"></i>-->
                    <!--<p>Maps</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li name="notifications">-->
                <!--<a href="notifications.php">-->
                    <!--<i class="ti-bell"></i>-->
                    <!--<p>Notifications</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li name="portfolio">-->
                <!--<a href="portfolio.php">-->
                    <!--<i class="ti-agenda"></i>-->
                    <!--<p>Portfolio</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="active-pro">-->
            <!--<a href="upgrade.html">-->
            <!--<i class="ti-export"></i>-->
            <!--<p>Upgrade to PRO</p>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>