<div class="sidebar" data-background-color="white" data-active-color="success">
    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                육군 디지털아카이브
            </a>
        </div>
        <ul class="nav">
            <li name="notice">
                <a href="/admin/news_board">
                    <i class="ti-view-list-alt"></i>
                    <p>공지사항</p>
                </a>
            </li>
            <li name="data">
                <a href="/admin/data">
                    <i class="ti-list"></i>
                    <p>데이터 관리</p>
                </a>
            </li>
            <li name="register">
                <a href="/admin/write">
                    <i class="ti-write"></i>
                    <p>데이터 등록</p>
                </a>
            </li>
            <li name="recommend">
                <a href="/admin/recommend">
                    <i class="ti-clipboard"></i>
                    <p>추천 기록자료 관리</p>
                </a>
            </li>
            <li name="sign">
                <%if(session.status === 1){%>
                    <a href="/admin/logout">
                        <i class="ti-user"></i>
                        <p>로그아웃</p>
                    </a>
                <%}else{%>
                    <a href="/admin/login">
                        <i class="ti-panel"></i>
                        <p>로그인</p>
                    </a>
                <%}%>
            </li>
        </ul>
    </div>
</div>
<script>
    let _path = location.pathname;
    switch(_path){
        case '/admin/login':
        case '/admin/logout':
            document.getElementsByName('sign')[0].classList.add('active');
            break;
        case '/admin/news_board':
            document.getElementsByName('notice')[0].classList.add('active');
            break;
        case '/admin/data':
            document.getElementsByName('data')[0].classList.add('active');
            break;
        case '/admin/write':
            document.getElementsByName('register')[0].classList.add('active');
            break;
        case '/admin/recommend':
            document.getElementsByName('recommend')[0].classList.add('active');
            break;
    }
</script>