<html>
<head>
    <% include include/header.ejs %>
</head>
<body>
<div class="wrapper">
    <% include include/sidebar.ejs%>
    <div class="main-panel">
        <% include include/nav.ejs%>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2" id="left_facets"></div>
                    <div class="col-md-10">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Data Control</h4>
                                <p class="category">카테고리</p>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input name="search" type="text" class="form-control" id="search" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="row">
                                        <th class="col-sm-1 text-center">#</th>
                                        <th class="col-sm-2 text-center">Id</th>
                                        <th class="col-sm-1 text-center">Type</th>
                                        <th class="col-sm-2 text-center">Label</th>
                                        <th class="co-sml-4 text-center">Description</th>
                                        <th class="col-sm-2 text-center">Update/Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="text-center">-->
                    <!--<button type="submit" class="btn btn-info btn-fill btn-wd">새 글 등록</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-loading" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Data</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">@id:</label>
                        <input type="text" class="form-control border-input" id="doc_id" name="doc_id" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">@type:</label>
                        <input type="text" class="form-control border-input" id="doc_type" name="doc_type">
                    </div>
                    <div id="display-space"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_update">Save changes</button>
            </div>
        </div>
    </div>
</div>
<style>
    .bd-loading .modal-dialog{
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

    .bd-loading .modal-dialog .modal-content{
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .bd-loading .modal-dialog .modal-content span{
        width:100%
    }
    .input-group span{border:1px solid #CCC5B9}
</style>
<div style="display: none;">
    <div id="menu" data-store="<%=JSON.stringify(menu)%>"></div>
    <div id="left" data-store="<%=JSON.stringify(left)%>"></div>
    <div id="facet_list" data-store="<%=JSON.stringify(facet_list)%>"></div>
    <div id="collection" data-store="<%=JSON.stringify(collection)%>"></div>
</div>
</body>
<%include include/footer.ejs%>
<script src="static/js/data.js"></script>
</html>
